.card.card-profile,
.card.userprofile  {
    background-color: rgb(255,255,255)!important;
}

.container-fluid.user-edit-field {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-fluid.user-edit-field #root .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-fluid.user-edit-field .edit_user_formbox,
.container-fluid.user-edit-field .userprofile {
    width: 100%;
}

.user-edit-field form .form-group.bmd-form-group input {
    font-size: 16px;
    font-weight: 800;
}

.userprofile .card-header.card-header-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userprofile .card-header.card-header-primary  h4 {
    margin: 0;
}

.error.edit_form {
    color: red;
    font-size: 15px;
    font-weight: 800;
    text-align: left;
}