.card.card-profile,
.card.userprofile  {
    background-color: rgb(255,255,255)!important;
}

.container-fluid.user-edit-field {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-fluid.user-edit-field #root .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-fluid.user-edit-field .edit_user_formbox,
.container-fluid.user-edit-field .userprofile {
    width: 100%;
}

.user-edit-field form .form-group.bmd-form-group input {
    font-size: 16px;
    font-weight: 800;
}

.userprofile .card-header.card-header-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userprofile .card-header.card-header-primary  h4 {
    margin: 0;
}

.userprofile form .btn.btn-primary {
    width: 180px;
}

.userprofile form .btn.btn-primary:disabled {
    cursor: auto;
    background-color: rgb(255,0,0,0.9);
    border-color: rgb(255,0,0,0.9);
    box-shadow: 0 2px 2px 0 rgba(255, 0, 0, 0.42), 0 3px 1px -2px rgba(255, 0, 0, 0.12), 0 1px 5px 0 rgba(255, 0, 0, 0.2);
}

.userprofile form .btn.btn-primary:disabled:hover {
    font-weight: 500;
    background-color: rgb(255,0,0,0.9);
    border-color: rgb(255,0,0,0.9);
    box-shadow: 0 2px 2px 0 rgba(255, 0, 0, 0.42), 0 3px 1px -2px rgba(255, 0, 0, 0.12), 0 1px 5px 0 rgba(255, 0, 0, 0.2);
}

.card-body .userinfocontent div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-body .userinfocontent div p.label {
    width: 90px;
    font-size: 13px;
    margin-left: 0;
    font-weight : 800;
    text-align: left;
}

.card-body .userinfocontent div p {
    margin: 0;
    width: 163px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 800;
    text-align: left;
}

.card-profile .card-avatar {
    width: 130px;
    height: 130px;
}

.card-profile .card-avatar img {
    transition: .8s;
    width: 100%;
    height: 100%;
}

.card-profile .card-avatar img:hover {
    transform: scale(1.1);
}

.card-body .changepassbt {
    position: absolute;
    bottom: 15px;
    margin: auto;
}

.card-body .changepassbt .changeBt {
    width: 195px;
}

.card-body .changepassbt .changeBt:hover {
    font-weight:800;
}

.userprofile .card-body form .password_update {
    align-items: center;
}

.update_form_pass {
    height: 270px;
    position: relative;
}

/* .card .card-body .update_form_pass .form-group {
    margin: 0;
} */

.update_form_pass .btn.btn-primary.pull-right {
    position: absolute;
    bottom: 5px;
    right: 0;
    margin: auto;
}

.password_view_bt button {
    cursor: pointer;
    width: 85px;
    height: 35px;
    border: none;
    background: rgb(81, 165,212, .8);
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    outline: none;
    transition: .8s;
}

.password_view_bt button:hover {
    font-weight: 800;
    transform: scale(1.1);
    box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

.error.edit_form {
    color: red;
    font-size: 15px;
    font-weight: 800;
    text-align: left;
    margin: 0;
}