.card.register {
    width: 450px;
}

.control  .register.error {
    background: unset;
    border-radius: unset;
    text-align: center;
}

.button.is-fullwidth.is-primary.is-outlined.register:disabled {
    background: rgb(255,0,0,.8);
    color : #fff;
}