.wrapper.reset {
    background-image: url(https://res.cloudinary.com/db5nsevmi/image/upload/v1586436961/544750.jpg#);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
}

.wrapper.reset .sidebar {
    display: none;
}

.wrapper.reset footer {
    display : none;
}

.wrapper.reset form .input-group.form-group .input-group-prepend span i {
    color:#fff;
}

.wrapper.reset form .input-group.form-group #email {
    color :#fff;
    font-weight :800;
}

.wrapper.reset .main-panel {
    width : 100%;
}

.wrapper.reset .card .card-header {
    border-bottom: 1px solid #eeeeee!important;
}

.wrapper.reset .main-panel > .content {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 80px);
}

.wrapper.reset .main-content-type .card-body {
    height: 210px;
}

.wrapper.reset .main-content-type .card-body form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.wrapper.reset .main-content-type .card-body form .fieldblock__login {
    height: 120px;
}

.wrapper.reset .main-content-type .card-body form .fieldblock__login {
    width: 100%;
}

.wrapper.reset form .button_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper.reset form .button_content .back_bt {
    width : 45%;
}

.wrapper.reset form .button_content .back_bt button {
    width :100%;
    border: none;
    background-color: transparent;
    border:1px solid #fff;
    color: #fff;
    transition:.5s;
}

.wrapper.reset form .button_content .back_bt button:hover {
    color : #222;
    background:#fff;
    font-weight: 800;
}

.wrapper.reset form .button_content input {
    width: 45%;
}

.wrapper.reset .card-footer {
    justify-content: center;
}

.button.is-primary.is-outlined.login:disabled {
    background: rgb(255,0,0);
    font-weight: 800;
    border-color: rgb(255,0,0);
    color: #fff;
    font-weight: 800;
    margin: 20px 0;
}

/* 新しいパスワード入力フォーム */

.main-content-type.reset_password_form form .fieldblock__password_reset input {
    font-weight: 800;
    color: #fff;
}

.wrapper.reset .main-content-type.reset_password_form .card-body {
    height: 100%;
}

.main-content-type.reset_password_form form .fieldblock__password_reset {
    width: 100%;
    margin: 20px 0;
}

.main-content-type.reset_password_form form .fieldblock__password_reset .input-group.form-group {
    margin: 10px 0 0 ;
}

.main-content-type.reset_password_form form .fieldblock__password_reset .input-group.form-group span.change_bt {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-left: 15px;
    cursor: pointer;
}

.main-content-type.reset_password_form form .fieldblock__password_reset .input-group.form-group span.change_bt:hover {
    font-weight: 800;
}

.main-content-type.reset_password_form form .fieldblock__password_reset .error {
    margin: 0;
}

.main-content-type.reset_password_form form .password_reset_form.button {
    width: 85%;
    transition: .6s;
    margin: 0;
}

.main-content-type.reset_password_form form .button.is-fullwidth.is-primary.is-outlined.login:disabled {
    margin: 0;
}

.d-flex.justify-content-center.send_email.reset_password {
    color: #fff;
}

.d-flex.justify-content-center.send_email.reset_password a {
    margin-left: 5px;
}